
body, .cart-screen {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

.cart-screen {
  margin-top: 60px;
  padding: 20px;
  font-family: Arial, sans-serif;
  flex: 1; 
}

.cart-screen h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.cart-screen p {
  text-align: left;
  font-size: 1.2em;
}

ul {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin: 15px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}


.cart-item h3 {
  font-size: 1.2em;
  margin: 0;
}

.cart-item p {
  font-size: 1.2em;
  color: #352828;
}

.cart-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.cart-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cart-btn:hover {
  background-color: #0056b3;
}

.cart-actions span {
  margin: 0 10px;
  font-size: 1.2em;
}

.back-btn {
  display: block;
  width: 200px;
  margin: 30px auto;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 12px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: #218838;
}


.buy-btn {
  display: block;
  width: 200px; 
  margin: 30px auto;
  background-color: #28a745; 
  color: white;
  border: none;
  padding: 12px;
  font-size: 1.2em; 
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}


.buy-btn:hover {
  background-color: #218838; 
}

.cart-screen {
  padding: 10px;
  margin-bottom: 70px;
  margin-top: 150px;
}



@media (max-width: 400px) and (max-height: 866px) {
  .cart-screen {
    padding: 10px;
    margin-bottom: 70px;
    margin-top: 150px;
  }

  .cart-screen h2 {
    font-size: 1.5em;
  }

  .cart-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cart-img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    object-fit: contain;
  }

  .cart-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
  }

  .cart-btn {
    padding: 6px 12px;
    font-size: 1em;
  }

  .buy-btn,
  .back-btn {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-top: 10px;
  }

  .buy-btn {
    margin-bottom: 5px;
  }
}


