/* Chat Container */
.chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 20px;
  overflow-y: auto;
  border-left: 2px solid #ddd;
}

.chat-area {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Mensajes */
.message {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  max-width: 60%;
  word-wrap: break-word;
}

.message p {
  margin: 0;
  padding: 0;
}

/* Input de mensajes */
.message-input {
  padding: 15px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-input input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-right: 10px;
  font-size: 1rem;
}

.message-input button {
  padding: 10px;
  background-color: #3f0e40;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.message-input button:hover {
  background-color: #6a1b9a;
}
