.message-input {
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid #ddd;
  }
  
  .message-input input {
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-right: 10px;
  }
  
  .message-input button {
    padding: 10px;
    background-color: #3f0e40;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .message-input button:hover {
    background-color: #4e1d57;
  }
  