.offers-screen {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
 
  padding: 20px;
  margin-top: 50px;
}

.offers-list {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.offers-list ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
  gap: 20px;
  justify-items: center;
  width: 100%; 
}

.offer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer; 
  transition: transform 0.2s ease, box-shadow 0.2s ease; 
  width: 100%; 
  max-width: 250px;
}

.offer-item:hover {
  transform: translateY(-5px); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.offer-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px; 
}

.offer-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.price-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.original-price {
  text-decoration: line-through;
  color: red;
  font-size: 1rem;
  margin-bottom: 5px; 
}

.discount-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: green;
}


.back-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  align-self: center; 
}

.back-btn:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 400px) {

  .offers-screen {

    margin-top: 150px;

  }

  .offers-list ul {
    grid-template-columns: 1fr; 
    gap: 15px; 
  }

  .offer-item {
    max-width: 90%; 
    margin: 10px auto; 
  }

  .offer-img {
    width: 120px;
    height: 120px; 
  }

  .price-details {
    margin-top: 10px; 
  }

  .back-btn {
    width: 100%; 
    padding: 12px; 
    font-size: 1.2rem; 
  }
}