
.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 107px);
    background-color: #f5f5f5;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.reset-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.input-container {
    margin-bottom: 20px;
}

.input-container label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
}

.input-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    margin-top: 5px;
}

.error {
    color: red;
    font-size: 0.875rem;
    margin-top: 10px;
}

.loading,
.success {
    font-size: 1rem;
    margin-top: 10px;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    font-size: 1.125rem;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}

.links {
    margin-top: 20px;
    text-align: center;
}

.link {
    display: block;
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
}

.link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 400px) and (max-height: 866px) {
    .reset-password-container {
      padding: 20px;
      height: auto; /* Evita problemas con 100vh */
    }
  
    .title {
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 15px;
    }
  
    .reset-form {
      padding: 20px;
      max-width: 100%;
      box-shadow: none; /* Diseño más limpio en móviles */
    }
  
    .input-container {
      margin-bottom: 15px;
    }
  
    .input-container label {
      font-size: 0.9rem;
    }
  
    .input-container input {
      padding: 8px;
      font-size: 0.9rem;
    }
  
    .submit-button {
      font-size: 1rem;
      padding: 8px;
      width: 100%;
    }
  
    .links {
      margin-top: 15px;
      font-size: 0.9rem;
    }
  
    .link {
      font-size: 0.9rem;
    }
  }
  