/* RewritePasswordScreen.css */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.recuperar {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.mail {
    margin-bottom: 20px;
}

.mail label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
}

.mail input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    margin-top: 5px;
}

span {
    font-size: 0.875rem;
    margin-top: 10px;
}

button {
    background-color: #007bff; /* Cambio aquí de verde a azul */
    color: #fff;
    font-size: 1.125rem;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* Cambio aquí del verde oscuro al azul oscuro */
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
