.sidebar {
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
  height: 100%;
  flex-shrink: 0;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.category-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.category-list li {
  margin-bottom: 10px;
}

.category-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  text-align: left;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #0056b3;
}

.no-categories {
  color: #999;
}

.category-button.active {
  background-color: #003f87 !important; 
  font-weight: bold; 
  border: 2px solid #001f4d; 
}




@media screen and (max-width: 768px) {
  .sidebar {
    width: 180px;
    padding: 10px;
  }

  .sidebar h2 {
    font-size: 1.2rem;
  }

  .category-button {
    font-size: 1rem;
    padding: 8px;
  }
}


@media screen and (max-width: 400px) {
  .sidebar {
    position: relative !important; 
    width: 100% !important;  
    left: 0 !important; 
    height: auto; 
    padding: 15px;
    background-color: #f8f9fa; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  }

  .category-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .category-button {
    font-size: 1rem;
    padding: 15px;
    width: 100%; 
    max-width: 350px; 
    text-align: center;
    border-radius: 5px; 
    margin: 10px auto; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
  }

  .category-button:hover {
    background-color: #0056b3; 
    transform: translateY(-3px); 
  }

  .category-button:active {
    transform: translateY(1px); 
    background-color: #003f87; 
  }
}
